/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 1.5cm 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 300px;
    flex: 1 1 calc(33.33% - 20px); /* Ajuste del tamaño de las imágenes */
}

.product:hover {
    transform: translateY(-10px);
}

.product-inner {
    position: relative;
    padding: 20px; /* Ajuste del padding */
}

.product-img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 200px; /* Tamaño máximo para las imágenes */
}

.product-details {
    padding: 20px 0; /* Ajuste del padding */
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.buy-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: calc(100% - 20px); /* Calcula el ancho para una columna */
        margin-bottom: 10px; /* Espacio entre los productos */
    }

    .product-inner {
        padding: 10px; /* Ajuste del padding */
    }

    .product-img {
        max-width: 100%; /* Ajuste del tamaño máximo de la imagen */
    }

    .product-details {
        padding: 10px 0; /* Ajuste del padding */
    }
}
