/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap; /* Permitir que los productos se envuelvan en dispositivos móviles */
    }

    .product {
        width: calc(33.33% - 20px); /* Calcula el ancho para tres columnas con espacio entre ellos */
        margin: 10px; /* Espacio entre los productos */
    }

    .product .product-img {
        width: 100%; /* Haz que la imagen ocupe todo el ancho del contenedor */
        max-height: 150px; /* Limita la altura máxima de la imagen para evitar que sea demasiado grande */
        object-fit: cover; /* Escala la imagen para que se ajuste dentro de su contenedor manteniendo la relación de aspecto */
    }

    .product-details {
        font-size: 0.8em; /* Reducir el tamaño de fuente para que quepa más contenido */
    }

    .product h2 {
        font-size: 1em; /* Reducir el tamaño del título del producto */
    }

    .product p {
        font-size: 0.8em; /* Reducir el tamaño del texto del producto */
    }
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 1.5cm 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: calc(33.33% - 20px); /* Ancho ajustado para tres columnas con espacio entre ellas */
}

.product:hover {
    transform: translateY(-10px);
}

.product-inner {
    position: relative;
}

.product-img {
    display: block;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: auto; /* Altura automática para mantener la proporción */
}

.product-details {
    padding: 20px;
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.buy-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
