.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 100%; /* O el ancho que desees */
  margin: 10px; /* O el margen que desees */
}

.producto img {
  width: 100%;
  height: 150px; /* O el alto que desees */
  object-fit: cover;
  border-radius: 10px;
}

.producto h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.producto p {
  font-size: 16px;
  margin-bottom: 20px;
}

.producto button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.producto button:hover {
  background-color: #3e8e41;
}

#buscador {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}
