/* styles.css */

body {
  background-color: black;
  text-align: center; /* Centrar todo el texto */
}

/* Estilos para el encabezado (header) */
.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

/* Estilos para el texto verde */
.green-text {
  color: green;
}

/* Estilos para el texto azul */
.blue-text {
  color: blue;
}

/* Estilos para el pie de página (footer) */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

/* Estilos para el texto pequeño (small-text) */
.small-text {
  font-size: 12px;
}
