/* Estilos generales para la página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.icono-netflix {
    width: 50px; /* Puedes ajustar el tamaño según tus necesidades */
    height: auto; /* Esto mantiene la proporción original de la imagen */
}

/* Estilos para el contenedor de bienvenida */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
}

/* Estilos para el texto de bienvenida */
h1 {
    font-size: 3em; /* Tamaño grande del encabezado */
    margin-bottom: 10px; /* Espacio entre el encabezado y el párrafo */
}

p {
    font-size: 2em; /* Tamaño grande del párrafo */
}
